@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";
body,html{
  height: 100%;
  overflow-y: hidden;
  height: 100vh;
}
.aside{
  grid-area: aside;
  width: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.main{
  grid-area: main;
  width: 100%;
  padding-bottom: 100px;
  overflow-y: auto;
  height: 100%;
  
}

.gridT{
  display: grid;
  width: 100%;
  height: 100vh;
  margin:0 auto;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
  "aside main"
  ;
}
.borderPosts{
  border-left: 4px solid #1E90FF;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.borderViews{
  border-left: 4px solid #40E0D0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.borderLikes{
  border-left: 4px solid #4169E1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.borderDeslikes{
  border-left: 4px solid #FF0000;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.borderDesk{
  border-left: 4px solid #4169E1;
  border-right: 4px solid #4169E1;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.borderMobile{
  border-left: 4px solid #1E90FF;
  border-right: 4px solid #1E90FF;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.borderTablet{
  border-left: 4px solid #40E0D0 ;
  border-right: 4px solid  #40E0D0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.shadowBox{
  box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
.boxChart{
 
width: 160px;
height: 139px;
}
.bg {
    width: 100%;
    height: 100%;
     background-image: url("/andromeda.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    
     
   }
  
.bgFundo{
  background-image: url("/animes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.input{
  border-radius: 5px;
  width: 100%;
  max-width: 580px;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 15px;
}
.textArea {
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
  
  border: none;
  outline: none;
  font-size: 15px;
}
.lottiePosition{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 300px;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
 
  flex-direction: column;
}
.bgGlobal{
  background-color: rgba(0, 0, 0, 0.6);
}


.formLogin{
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  border:  solid 1px rgb(45 212 191);
  background-color:rgba(0, 0, 0, 0.3);
  padding: 50px;

}
.formLogin input{
  margin: 20px 0;
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 45px;
  background-color: transparent;
  border: solid 1px #ccc;
  font-size: 15px;
  color: white;
  transition: all ease-in-out 1s;
}
.formLogin input:focus:hover{
  border:  solid 1px rgb(45 212 191);
}
.bg-login{
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("/login-bg.jpg")

}

.perfil{
 
  width: 160px;
  height: 48px;
  position: absolute;
  top: 36px;
  right: -8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  margin-top: 2px;
  background-color: #ccc;
  border-radius: 10px;
  transform: translateX(0px);
  gap: 1px;

}

.perfilAdmin{
  width: 49%;
}


.block-with-text {
  white-space: normal;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.modal{
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
 
  top: 420px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.btn{
  width: 144px;
  padding:  8px 0;
  color: white;
  border-radius: 6px;
  background-color:rgb(45 212 191);
  transition:ease-in-out 0.6s;
}
.btn:hover{
    background-color: rgba(114, 238, 192, 0.9);
}

.tflex{
  display: flex;
}
@media screen and (max-width:850px) {
  .gridT{
    grid-template-areas: "main main";
  }
  .main{
    padding-bottom: 190px;
  }
}
@media screen and (max-width:600px) {
  
  .main{
    padding-bottom: 80px;
  }
}